{{define "Title"}}捐助{{end}}
{{define "importcss"}}
{{end}}
{{define "importjs"}}
{{if eq .config.CDN.JQueryPlaceholderJS ""}}
<script type="text/javascript" src="/static/js/jquery.placeholder.min.js"></script>
{{else}}
<script type="text/javascript" src="{{.config.CDN.JQueryPlaceholderJS}}"></script>
{{end}}
{{if eq .config.CDN.JQueryQRCodeJS ""}}
<script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>
{{else}}
<script type="text/javascript" src="{{.config.CDN.JQueryQRCodeJS}}"></script>
{{end}}
<script src="/static/js/donate.js"></script>
<script type="text/javascript">
$(function(){ $('input, textarea').placeholder(); });
</script>
{{end}}
{{define "content"}}
<div id="id-content" class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<ul class="breadcrumb">
				<li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
				<li class="active">捐助</li>
			</ul>
			<h2 class="section-title-s3">假如支持本站，您可以选择捐助本站，同时会将贡献点发放入账户中</h2>
			<div class="shadow-box white-box">
				<!--div class="panel-heading">关于本站</div-->
				<div class="panel-body">
					<div id="id-charge-hint" class="alert alert-danger hidden" role="alert">
						<strong id="charge-hint-title">错误!</strong><span id="id-charge-hinttext">Nothing</span>
					  </div>
					  <form id="id-form-charge" class="simple_form " novalidate="novalidate" id="new_user" action="/ajax/zfbqr_pay" accept-charset="UTF-8" method="post">
						<input name="utf8" type="hidden" value="&#x2713;" />
						<input id="id-pay-method" name="paymethod" type="hidden" name="pay_method" value="0" />
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-user"></i>
								</div>
								<input type="account" class="form-control input-md" {{if ne .account ""}}readonly="readonly"{{end}} placeholder="账户名" value="{{.account}}" name="user[account]" id="user_login" />
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-ticket"></i>
								</div>
								<input type="number" class="form-control input-md" {{if gt .value 0}}readonly="readonly"{{end}} {{if gt .value 0}}value="{{.value}}"{{end}} placeholder="点数(10-500)" name="user[value]" id="user_num" />
							</div>
						</div>
						<div class="form-group">
							<input id="id-charge-zfbqr" onclick="zfbpay();" type="submit" name="commit" value="支付宝二维码支付" class="btn btn-primary" data-disable-with="正在支付...请不要关闭页面" />
							<input id="id-charge-wxqr" onclick="wxpay();" type="submit" name="commit" value="微信二维码支付" class="btn btn-primary" data-disable-with="正在支付...请不要关闭页面" />
							<!--input id="id-charge-union" onclick="unionpay();" type="submit" name="commit" value="扫码支付" class="btn btn-primary hidden" data-disable-with="正在支付...请不要关闭页面" /-->
							<!--input id="id-charge-ppay" onclick="ppay();" type="submit" name="commit" value="扫码支付" class="btn btn-primary" data-disable-with="正在支付...请不要关闭页面" /-->
						</div>
					</form>
					<div>
						<div id="pay_qrcode"></div>
						<iframe name="payframe" id="alipay_qr_iframe" class="hidden" width="800" height="800" frameborder="0" src="">
						</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}