a {
	color:#778087;
}

dl {
	margin-top:0;
	margin-bottom:20px;
}

.space {
	height:4px;
}

.articles-container {
	margin-bottom: 20px;
	background-color: white;
	border:1px solid #DDD;
	padding:8px;
}

dd {
	margin-left:0;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #CCC;
}