body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

body {
	padding-top: 60px;
	padding-bottom: 30px;
	padding-bottom: 0px;
	//background-color: #f2f2f2;
	background-size:contain;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,ffffff+100 */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98bede+0,ffffff+100 */
background: #98bede; /* Old browsers */
background: -moz-linear-gradient(top,  #98bede 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #98bede 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #98bede 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98bede', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#id-content {
	padding-bottom: 70px;
}

#id_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
	//border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #fff;
    text-align: center;
    color: #999;
    padding: 0px 10px 0px 10px;
}

#id-signup-formSubmit {
	text-align:center;
}

#id-form-signin {
	text-align:center;
}

#id-signin-captchaInputGroup {
	text-align:center;
}

.footer-links {
	margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}

#id-navbar-right {
	margin: auto 10px;
}

#id-navbar-avatar {
	padding-top: 9px;
	padding-bottom:9px;
}

#id-footer-links {
	margin-bottom: 0px;
}

#id-about-textnoob {
	color: #ff00ff;
}

#id-meminfo-signupseq {
	color: #999;
	margin-top: 2px;
}

#id-meminfo-postinfo {
	color: #999;
	margin-top: 2px;
}

#id-member-following {
	border-top: 1px solid #f0f0f0;
}

#id-member-intro {
	text-align: center;
}

#navbar {
	/*opacity:0.8;*/
	background:rgba(255,255,255,.7);
}

.shadow-box {
	box-shadow: 5px 3px 10px #756f71;
}

.white-box {
	background-color:white;
}

.section-title-s1 {
	line-height:30px;
	padding-left:5px;
	font-size:16px;
	color: #fff;
	font:weight:500;
	background:#4b5153;
	box-shadow: 5px 3px 10px #756f71;
	border-radius:3px;
	margin:0 0 10px 3px;
	text-align:center;
	max-width:200px;
}

.section-title-s2 {
	font-size:16px;
	font:weight:500;
	color:#333;
	padding:2px 0px 2px 10px;
	margin:0 0 20px 0px;
}

.lbcolor-box {
	//border-left:3px solid #3472ef;
	border-left:3px solid #2894FF;
}