body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  padding-bottom: 0px;
}

#id-content {
	padding-bottom: 70px;
}

#id_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.22);
	border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #fff;
    text-align: center;
    color: #999;
    padding: 0px 10px 0px 10px;
}

#id-signup-formSubmit {
	text-align:center;
}

#id-form-signin {
	text-align:center;
}

#id-signin-captchaInputGroup {
	text-align:center;
}

.footer-links {
	margin: 10px 0;
    padding-left: 0;
}
.footer-links li {
	display: inline;
	padding: 0 2px;
}

#id-navbar-right {
	margin: auto 10px;
}

#id-navbar-avatar {
	padding-top: 9px;
	padding-bottom:9px;
}

#id-footer-links {
	margin-bottom: 0px;
}

#id-about-textnoob {
	color: #ff00ff;
}