body {
  padding-top: 50px;
}

.section-statistics {
	padding:5px 10px 5px 5px;
	//border-left:3px solid #3472ef;
	border-bottom:3px solid #DDDDDD;
	background-color:white;
}

.section-category {
	padding:5px 10px 5px 5px;
	//border-left:3px solid #3472ef;
	border-bottom:3px solid #DDDDDD;
	background-color:white;
}

.posts {
	padding-left: 10px;
}

.post-item {
	margin-bottom:4px;
	border-bottom: dotted 1px rgba(160,160,160,.3);
}

.post-item-label-2 {
	//color:grey;
}

.group-container {
	background-color:white;
}

.banner {
	background:url(../images/banner_top.jpg) top center;
	height:265px;
	overflow:hidden;
	margin-bottom:15px;
}

.banner-box {
	width:1000px;
	margin:auto;
	overflow:hidden;
}

.banner-text {
	width:350px;
	line-height:26px;
	margin:60px 0 0 20px;
	float:left;
	font-size:14px;
	list-style:none;
}

.banner-text p:nth-child(1) {
	-webkit-animation: animations 3s ease-out 1s backwards;
    -moz-animation: animations 3s ease-out 1s backwards;
    -o-animation: animations 3s ease-out 1s backwards;
    -ms-animation: animations 3s ease-out 1s backwards;
    animation: animations 3s ease-out 1s backwards;
}

.banner-text p {
    -webkit-transform: translate(60px);
    -moz-transform: translate(60px);
    -o-transform: translate(60px);
    -ms-transform: translate(60px);
    transform: translate(60px);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8), 2px 2px 3px rgba(180, 151, 151, 0.3);
}