.category-box {
	padding:20px 20px 20px 20px;
	background-color:white;
	//border-bottom:3px dotted #DDDDDD;
	//border-left:3px solid #3472ef;
	margin-top:0px;
}

.media-body h3 {
	margin-top:0px;
	margin-left:5px;
}

.category-info {
	margin-left:5px;
}

.category-desc {
	margin-left:5px;
	margin-top:10px;
	color:#666666;
}