{{define "Title"}}编辑简历{{end}}
{{define "importcss"}}
<link href="/static/css/editormd.min.css" rel="stylesheet" />
<link href="/static/css/edit_article.css" rel="stylesheet" />
{{end}}
{{define "importjs"}}
<script src="/static/js/editormd.min.js"></script>
<script src="/static/js/editor.js"></script>
<script src="/static/js/edit_resume.js"></script>
<script type="text/javascript">
	var editor = editormd("editormd", {
		height: 400,
		markdown: {{.content}},
		autoFocus: false,
		path: "/static/js/editor.md-1.5.0/lib/",
		//path: "../../../static/js/editor.md-1.5.0/lib/",
		placeholder: "采用markdown语法",
		toolbarIcons: function() {
		  return ["undo", "redo", "|", "bold", "italic", "quote", "|", "h1", "h2", "h3", "h4", "h5", "h6", "|", "list-ul", "list-ol", "hr", "|", "link", "reference-link", "image", "code", "preformatted-text", "code-block", "|", "goto-line", "watch", "preview", "fullscreen", "|", "help", "info"]
		},
		saveHTMLToTextarea: true,
		imageUpload: true,
		imageFormats: [""],
		imageUploadURL: "",
		onchange: function() {
		  $("#resume-submit").attr('disabled', this.getMarkdown().trim() == "");
		}
	});
	$("#text-title").html("简历");
	$("#article-cover").val("");
</script>
{{end}}
{{define "content"}}
<div id="id-content" class="container">
	<div class="row">
		<div class="col-md-12 col-md-offset-0">
			<div class="breadcrumb">
				<li>
					<a href="/">
						<i class="fa fa-home"></i>首页
					</a>
				</li>
				<li>
					<a href="/about">
						关于
					</a>
				</li>
			</div>
			<div id="resume-tip" class="alert alert-danger hide" role="alert">
				<span id="resume-tip-text">ERROR</span>
				<a class="close" data-dismiss="modal" onclick="$('#resume-tip').addClass('hide');">×</a>
			</div>
			<div class="reply-container">
				<form id="postresume-form" action="/about/edit/resume" method="post" role="form">
					<fieldset>
						<div class="form-group">
							<div id="editormd">
								<textarea style="display:none;"></textarea>
							</div>
						</div>
						<hr/>
						<div style="text-align:center">
							<a id="resume-submit" href="javascript:void(0);" onclick="submitPostResume(this)" class="btn btn-success">提交</a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
{{end}}