{{define "Title"}}管理后台{{end}}
{{define "importjs"}}{{end}}
{{define "importcss"}}
<link href="/static/css/manager.css" rel="stylesheet" />
{{end}}
{{define "content"}}
<div class="row" id="manager-box">
    <div class="page-left">
        {{template "leftmenu" .}}
    </div>
    <div class="page-right">
        <div class="m-box">
            <div class="box-head">
                <strong class="box-title">成员管理</strong>
            </div>
            <div class="box-body">
                <div class="user-list">
                    <table class="table">
                        <thead>
                            </tr>
                                <th witdh="80">ID</th>
                                <th>用户名</th>
                                <th>权限</th>
                                <th>邮箱</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .users}}
                            <tr>
                                <td>{{.Uid}}</td>
                                <td>{{.UserName}}</td>
                                <td>{{.Permission}}</td>
                                <td>{{.EMail}}</td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}