{{define "Title"}}管理后台{{end}}
{{define "importjs"}}
<script src="/static/js/manager.js"></script>
{{end}}
{{define "importcss"}}
<link href="/static/css/manager.css" rel="stylesheet" />
{{end}}
{{define "content"}}
<div class="row" id="manager-box">
    <div class="col-md-12 col-md-offset-0">
        <div class="page-left">
            {{template "leftmenu" .}}
        </div>
        <div class="page-right">
            {{if eq .active "users"}}
            {{template "manager_users" .}}
            {{else if eq .active "bmkv"}}
            {{template "manager_bmkv" .}}
            {{else}}
            Undefined page {{.active}}
            {{end}}
        </div>
    </div>
</div>
{{end}}